<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Sistema de Autenticação</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <h1>Bem-vindo ao sistema de autenticação desenvolvido em Python!</h1>

    <p>
        Este é um sistema simples que permite aos usuários se registrarem,
        fazerem login e acessarem suas contas de forma segura.
    </p>

    <a href="{{ url_for('login') }}">Login</a> |

    <a href="{{ url_for('registrar') }}">Registrar</a>

</body>

</html>